<mat-card>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Ticker</mat-label>
      <input type="text" placeholder="Pick one stock ticker" aria-label="Ticker" matInput [formControl]="autocomplete"
        [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selectSymbol($event)">
        <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option.symbol">
          <span><strong>{{option.displaySymbol}}</strong> {{option.description}}</span> |
          <small>Currency: {{option.currency}}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <button mat-button (click)="callApi()">Refresh</button>
</mat-card>

<shared-stock-card-widget [stock]="stock$ | async"></shared-stock-card-widget>
